:root{
    --dark: #22577a;
    --light:#c7f9cc ;
    --average:#57cc99;
    --moreavg:#38a3a5;
}
*{
    margin: 0;
    font-family: monospace;
}

a{
    text-decoration: none;
    color: var(--light);
}
a:hover{
    background-color:var(--light);
    color: var(--dark);
    border: 3px solid var(--average);

}

#navigate {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    background-color: var(--moreavg);
    width: 100%;
    z-index: 2;
    height: 70px;
    position: fixed;
    font-size: 5vh;
}
  
#container{
    background-image: url("img/home.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140vh;
    padding: 2em;
    box-sizing: border-box;
    position: relative;
    top: 170px;
    background-repeat: no-repeat;
    background-size:cover;
}

footer{
position: relative;
top: 150px;
height: 30px;
padding: 10px;
background-color:var(--moreavg);
justify-items: center;
align-items: center;
text-align: center;
color:var(--light);
font-size: 20px
}

#desc{
position: relative;
justify-content: center;
text-align: center;
align-items: center;
top: -110px;
max-width: 16em;
font-size: 11vh;
left: 50px;
font-weight: bold;
color:var(--moreavg);
}
#log{
border: 2px solid var(--average);
padding: 2px;
color: var(--dark);
background-color:var(--light) ;
border-radius: 10px;
}